
/* 
Reference Template 
https://facit-modern.omtanke.studio/
*/
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
}

  @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Black.ttf');
    font-weight: 900;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-VariableFont_slnt_wght.ttf');  
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/materialiconfont/material-icons.woff2") format("woff2"), url("../fonts/materialiconfont/material-icons.woff") format("woff");
  }
  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
  }
  




html {
    font-size: 14px;
}

body {
    font-family: 'Poppins',  'sans-serif';
    /* font-family: "Inter", sans-serif; */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 14px;
    color: var(--text-color);
    background:  var(--body-bg);
}

#spinnerloading {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background: rgba(0,0,0,0.5);
}

.spinner-border {
    border: var(--bs-spinner-border-width) solid #000;
    border-right-color: transparent;
}

/* Header */
.layout-header {     
    position: sticky;
    top: 0;
    height: 65px;
    padding: 0 16px;
    background-color: var(--layout-nav-bg);
    z-index: 2;
    box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
}

.layout-header .menu-toggle-btn {
    width: 40px;
    height: 40px;
    background-color: #e7eef8;
    border-radius: 14px;
    border: none;
}

.layout-header .module-btn {
    display: inline-flex;
    align-items: center;
    color: #5f6368;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    margin: 0 4px;
    height: 100%;
}

.layout-header .module-btn .material-icons-outlined{
    font-size: 20px;
}

.layout-header .module-btn:hover {    
    background: #f8f9fa;
}
/* /  */

/* Navigation */
.aside-container {
    position: relative;
    flex-shrink: 0;
    z-index: 3;
    transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);   
}
.aside-nav { 
    position: relative;  
    z-index: 2;
    width: 200px; 
    display: flex;
    flex-direction: column;   
    background-color: var(--layout-nav-bg);    
    height: 100%; 
    transition: all 0.2s cubic-bezier(0.75, 0.31, 0.25, 0.56);
    overflow: auto;
    /* box-shadow: 0 0 12px rgb(0 0 0 / 10%); */
}

.aside-nav .aside-nav-header {
    height: 65px;
    flex-shrink: 0;
}

.side-nav-collapse-btn {
    position: absolute;
    top: 50%;
    right: -17px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* background-color: #fff; */
    background-color: var(--layout-nav-bg);
    border: none;
    z-index: 2;
    color: var(--text-color);
    /* box-shadow: 5px 0 5px rgb(0 0 0 / 10%); */
  }
  
  .side-nav-collapse-btn i {
    margin-left: 7px;
  }

.aside-nav nav {
    /* height: calc(100% - 65px); */
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    position: relative;
}

.aside-nav nav::-webkit-scrollbar, .aside-nav nav::-webkit-scrollbar-track{
    display: none;
}

nav .navigation-link, .aside-nav-footer .navigation-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 8px;
    text-decoration: none;
    width: 100%; 
    border-radius: 6px;    
    color: inherit;
    cursor: pointer;
}

nav .nav-list-item, .aside-nav-footer .nav-list-item {
    padding: 2px 12px;
    overflow: hidden;
}

.navigation-link:hover{
    /* color: #e7eef8;
    background-color: #232328; */
    /* background-color: #f8f9fa; */
    background: var(--surface-hover);
}

.navigation-link.active {
    /* background-color: #19191f;
    color: #e7eef8; */
    /* background-color: #e8f0fe; */
    background: var(--surface-hover);
    color: #1967d2;
}

.navigation-link .icon, .nav-link-dropdown-btn .arrow {
    flex-shrink: 0;
    width: 20px;
    font-size: 20px;
    aspect-ratio: 1;
    display: inline-flex;
    place-content: center;    
}

.navigation-link .icon{
    margin-right: 12px;
}
/* .navigation-link .icon, .nav-link-dropdown-btn .arrow{
    filter: invert(98%) sepia(15%) saturate(1426%) hue-rotate(176deg) brightness(99%) contrast(97%);    
    filter: invert(37%) sepia(11%) saturate(253%) hue-rotate(174deg) brightness(95%) contrast(84%);
} */

/* .navigation-link.active .icon, .nav-link-dropdown-btn.active .arrow {
    filter: invert(25%) sepia(95%) saturate(1444%) hue-rotate(201deg) brightness(104%) contrast(97%);
  } */

.navigation-link .text {
    flex-grow: 1;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: flex-grow 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav .sub-menu-list .nav-list-item {
    padding: 4px 0;
}

nav .sub-menu-list .nav-list-item:last-child {
    padding-bottom: 0;
}

nav .sub-menu-list,  .aside-nav-footer .sub-menu-list {
    margin: 4px 0 0 10px;
    height: 0;
    transition: height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1), margin 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
}

nav .nav-link-dropdown-btn.active .arrow {
    transform: rotate(90deg);    
}




/* layout-content */
.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.wrapper {
    position: relative;     
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    /* z-index: 1; */
}

.content {
    padding: 16px 16px;   
}
.aside-menu-btn {
    width: 34px;
    height: 34px;
    color: var(--text-color);
    border: none;
    background-color: transparent;
    padding: 0;
    transform: rotateY(180deg);
    transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.aside-nav-footer {
  border-top: 1.5px solid var(--divider-color)
}



@media (max-width: 767.98px) {    
    .aside-nav {
        margin-left: -200px;
    }
    .aside-nav-overlay {
        display: none;
        position: absolute;
        inset: 0;
        background-color: rgba(0,0,0,0.7);
        z-index: 1;
        width: 100vw;
        height: 100vh;
    }
    .aside-container.active .aside-nav-overlay {
        display: block;
    }
    
    .aside-container.active .aside-nav {
        margin-left: 0;
     }

    .wrapper {
        width: 100vw;
        flex-shrink: 0;
    }

}

@media (min-width: 768px) {
    .aside-container {
        width: 200px;
    }
    .aside-nav {
        position: absolute;
        width: 100%;
        overflow: hidden;        
    }
    .aside-nav:hover {
        width: 200px;
    }
    .aside-container.active  .aside-logo {
        display: none;
    }
    .aside-nav:hover .aside-logo {
        display: block;
    }
    .aside-container.active .aside-menu-btn {
        margin: auto;
        transform: rotateY(0);
    }

    .aside-nav:hover .aside-menu-btn {
        margin: 0;
    }

    .aside-container.active {
        width: 60px;
    }
    .aside-container.active .navigation-link .text {        
        flex-basis: 0;
    }
    .aside-container.active .nav-link-dropdown-btn .arrow {
        /* width: 0; */
        visibility: hidden;
    }
    .aside-container.active:hover .navigation-link .text {        
        flex-grow: 1;     
    }

    .aside-container.active:hover .nav-link-dropdown-btn .arrow {
        /* width: 20px;  */
        visibility: visible;
        transition: visibility 0.2s linear 0.28s;
    }

    .aside-container.active nav .sub-menu-list {
        margin-left: 0;
    }
    .aside-container.active:hover  nav .sub-menu-list {
        margin-left: 10px;
    }

    .aside-container .side-nav-collapse-btn {
        display: inline-flex;
      }
    
      .aside-container.active .side-nav-collapse-btn {
        display: none;
      }
    
      .aside-container.collapse-side-nav {
        margin-left: -200px;
      }
    
      .aside-container.collapse-side-nav .side-nav-collapse-btn i{
        transform: rotate(180deg);
      }
    
}

@media (min-width: 992px) {

    .aside-container {
        margin: 12px;
    }
    .aside-nav{
        border-radius: 14px;
    }
    .layout-header {
        margin: 12px 12px;
        /* box-shadow: 0 0 3rem rgb(0 0 0 / 10%); */
        box-shadow: 0 0 12px rgb(0 0 0 / 10%);
        border-radius: 14px;
    }

    .aside-container.collapse-side-nav {
        margin-left: calc(-200px + -12px);
      }

    .aside-container.collapse-side-nav .side-nav-collapse-btn{
        right: -29px;
      }
}

.text-body {
  color: var(--text-color) !important;
}

/* a {
    text-decoration: none;
    color: initial;
}

.fs-10 {
  font-size: 10px;
}

.fs-14 {
    font-size: 14px;
}
.fs-13 {
    font-size: 13px;
}

.fs-12{
    font-size: 12px;
}

.fs-6p5pt {
  font-size: 6.5pt;
}
.fs-7p1pt {
  font-size: 7.1pt;
}
.fs-7p8pt {
  font-size: 7.8pt;
}
.fs-9pt {
  font-size: 9pt;
}
.fs-9p1pt {
  font-size: 9.1pt;
}
.fs-17p8pt {
  font-size: 17.8pt;
}
.fs-8p1pt {
  font-size: 8.1pt;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: left;
}

.text-end {
  text-align: right;
}

.d-flex {
    display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}
.align-items-end {
  align-items: end;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.mb-0 {
margin-bottom: 0;
}

.mb-1 {
margin-bottom: 0.25rem;
}

.mb-2 {
margin-bottom: 0.5rem;
}

.mb-3 {
margin-bottom: 1rem;
}

.mb-4 {
margin-bottom: 1.5rem;
}

.mb-5 {
margin-bottom: 3rem;
}

.mb-auto {
margin-bottom: auto;
}

.mt-0 {
margin-top: 0;
}

.mt-1 {
margin-top: 0.25rem;
}

.mt-2 {
margin-top: 0.5rem;
}

.mt-3 {
margin-top: 1rem;
}

.mt-4 {
margin-top: 1.5rem;
}

.mt-5 {
margin-top: 3rem;
}

.mt-auto {
margin-top: auto;
}

.ms-0 {
margin-left: 0;
}

.ms-1 {
margin-left: 0.25rem;
}

.ms-2 {
margin-left: 0.5rem !important;
}

.ms-3 {
margin-left: 1rem;
}

.ms-4 {
margin-left: 1.5rem;
}

.ms-5 {
margin-left: 3rem;
}

.ms-auto {
margin-left: auto;
}

.my-0 {
margin-top: 0;
margin-bottom: 0;
}

.my-1 {
margin-top: 0.25rem;
margin-bottom: 0.25rem;
}

.my-2 {
margin-top: 0.5rem;
margin-bottom: 0.5rem;
}

.my-3 {
margin-top: 1rem;
margin-bottom: 1rem;
}

.my-4 {
margin-top: 1.5rem;
margin-bottom: 1.5rem;
}

.my-5 {
margin-top: 3rem;
margin-bottom: 3rem;
}

.my-auto {
margin-top: auto;
margin-bottom: auto;
}
.me-1 {
margin-right: 0.25rem;
}

.me-2 {
margin-right: 0.5rem !important;
}

.me-3 {
margin-right: 1rem;
}

.me-4 {
margin-right: 1.5rem;
}

.me-5 {
margin-right: 3rem;
}

.border-1 {
border: 1px solid #000;
}

.border-b-1p5 {
border-bottom: 1.5px solid #000;
}

.fw-lighter {
font-weight: lighter;
}

.fw-light {
font-weight: 300;
}

.fw-normal {
font-weight: 400;
}

.fw-medium {
font-weight: 500;
}

.fw-semibold {
font-weight: 600;
}

.fw-bold {
font-weight: 700;
}

.fw-bolder {
font-weight: bolder;
}

.p-1 {
padding: 0.25rem;
}

.p-2 {
padding: 0.5rem;
}

.p-3 {
padding: 1rem;
}

.p-4 {
padding: 1.5rem;
}

.p-5 {
padding: 3rem;
}

.ps-0 {
padding-left: 0;
}

.ps-1 {
padding-left: 0.25rem;
}

.ps-2 {
padding-left: 0.5rem;
}

.ps-3 {
padding-left: 1rem;
}

.ps-4 {
padding-left: 1.5rem;
}

.ps-5 {
padding-left: 3rem;
}

.pe-1 {
padding-right: 0.25rem;
}

.pe-2 {
padding-right: 0.5rem;
}

.pe-3 {
padding-right: 1rem;
}

.pe-4 {
padding-right: 1.5rem;
}

.pe-5 {
padding-right: 3rem;
}

.lh-1 {
line-height: 1;
}

.w-100 {
width: 100%;
}

.align-bottom {vertical-align: bottom;} */


/* .form-grid {
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 10px;
}

.form-container {
border: 1px solid #000;
padding: 4px 8px;
}

.form-title {
background-color: #000;
color: #fff;
padding-left: 10px;
} */

/* .hirer-detail-tbl {
width: 100%;
border-collapse: collapse;
}

.hirer-detail-tbl td {
padding: 8px 0;
}

.hirer-detail-tbl td:first-child {
width: 60%;
}
.hirer-detail-tbl td:first-child > *{
margin-right: 7px;
} */

/* .method-of-pay-tbl {
width: 100%;
font-size: 13px;
font-weight: bold;
border-collapse: collapse;
}

.method-of-pay-tbl tr {
border-bottom: 1px solid #000;
}
.method-of-pay-tbl tr td {
padding-top: 9px;
}
.method-of-pay-tbl tr td:first-child {
width: 30%;
}
.method-of-pay-tbl tr td:last-child {
width: 40%;
}
.method-of-pay-tbl tr td:nth-child(2) {
width: 30%;
} */

/* .terms-condition-tbl {
width: 100%;
}

.terms-condition-tbl td {
padding: 7px 0;
} */

/* input[type="checkbox"] {
margin: 0 4px 0 0;
width: 16px;
height: 16px;
} */

/* .inspection-checkbox-tbl {
width: 100%;
border-collapse: collapse;
} */

/* .p-badge {
    background: #3B82F6;
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 700;
    min-width: 1rem;
    height: 1rem;
    line-height: 1rem;
  } */


  /* .bell {
    width: 2rem;
    &:hover, &:focus {
      animation: bellshake .5s cubic-bezier(.36,.07,.19,.97) both;
      backface-visibility: hidden;
      transform-origin: top right;
    }
  } */
  
  /* @keyframes bellshake {
    0% { transform: rotate(0); }
    15% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    45% { transform: rotate(4deg); }
    60% { transform: rotate(-4deg); }
    75% { transform: rotate(2deg); }
    85% { transform: rotate(-2deg); }
    92% { transform: rotate(1deg); }
    100% { transform: rotate(0); }
  } */
  



  /* a{
    text-decoration: none;
    color: black;
  }
  
  a:visited{
    color: black;
  } */
  
  /* .box::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    border-radius: 5px
  }
  
  .box::-webkit-scrollbar
  {
      width: 10px;
      background-color: #F5F5F5;
    border-radius: 5px
  }
  
  .box::-webkit-scrollbar-thumb
  {
      background-color: black;
      border: 2px solid black;
    border-radius: 5px
  } */
  
  /* header{
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    height: 110px;
    vertical-align: middle;
  } */
  
  /* h1{
   float: left;
    padding: 10px 30px
  }
  
  body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  } */

  
  /* .notification{    
    position: relative;
    display: inline-block;
  } */
  
  /* .number{
    height: 22px;
    width:  22px;
    background-color: #5e3333;
    border-radius: 20px;
    color: white;
    text-align: center;
    position: absolute;
    top: 23px;
    left: 60px;
    padding: 3px;
    border-style: solid;
    border-width: 2px;
  } */
  
  /* .number:empty {
     display: none;
  } */
  
  /* .notBtn{
    transition: 0.5s;
    cursor: pointer
  }
  
  .fas{
    font-size: 25pt;
    padding-bottom: 10px;
    color: black;
    margin-right: 40px;
    margin-left: 40px;
  }
  
  .box{
    width: 400px;
    height: 0px;
    border-radius: 10px;
    transition: 0.5s;
    position: absolute;
    overflow-y: scroll;
    padding: 0px;
    left: -400px;
    margin-top: 5px;
    background-color: #F4F4F4;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    cursor: context-menu;
  }
  
  .fas:hover {
    color: #d63031;
  }
  
  .notBtn:hover > .box{
    height: 60vh
  } */
  
  /* .content{
    padding: 20px;
    color: black;
    vertical-align: middle;
    text-align: left;
  } */
  
  /* .gry{
    background-color: #F4F4F4;
  } */
  
/* .color-box{
     display:inline-block;
     width:30px;
     height:30px;
     border:1px solid #ccc;

} */

/* .custom-color-picker .p-colorpicker{
  width: 30px;
}
.p-badge {
  background: #3B82F6;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 700;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
} */


  /* .top{
    color: black;
    padding: 10px
  } */
  
  /* .display{
    position: relative;
  } */
  
  /* .cont{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;
  }
  
  .cont:empty{
    display: none;
  } */
  
  /* .stick{
    text-align: center;  
    display: block;
    font-size: 50pt;
    padding-top: 70px;
    padding-left: 80px
  }
  
  .stick:hover{
    color: black;
  } */
  
  /* .cent{
    text-align: center;
    display: block;
  } */
  
  /* .sec{
    padding: 25px 10px;
    background-color: #F4F4F4;
    transition: 0.5s;
  } */
  
  /* .profCont{
    padding-left: 15px;
  } */
  
  /* .profile{
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 75px;
    float: left;
  } */
  
  /* .txt{
    vertical-align: top;
    font-size: 1.25rem;
    padding: 5px 5px 0px 50px;
  } */
  
  /* .sub{
    font-size: 1rem;
    color: grey;
  } */
  
  /* .new{
    border-style: none none solid none;
    border-color: red;
  } */
  
  /* .sec:hover{
    background-color: #BFBFBF;
  } */

  /* .dropdown-footer {
    padding: 0.5rem 1rem;
    text-align: center;
    border-top: 1px solid #b2c2cd;
} */

/* .dropdown-footer a {
    text-decoration: none;
} */
  
  
/* .btn-login  {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #5406b4, #f441a5);
  background-size: 300%;
  z-index: 1;
} */



  