<div class="card">
    <div class="card-body">
        <div>
            <h1 *ngIf="ProductId == 0">
                Add New Product
            </h1>
            <h1 *ngIf="ProductId != 0">
                Edit {{ProductData.name}}
            </h1>
        </div>
        <div class="mb-3" style="text-align: right;">
            <button routerLink="/ProductList" pButton pRipple icon="pi pi-times-circle" label="Cancel" class="p-button-secondary me-3 mb-3"></button>
            <button pButton pRipple icon="pi pi-check-circle" label="Save" class="p-button-success me-3 mb-3" *ngIf="this.ProductId == 0" (click)="Save()"></button>
            <button pButton pRipple icon="pi pi-check-circle" label="Update" class="p-button-success me-3 mb-3" *ngIf="this.ProductId != 0" (click)="Save()"></button>

        </div>
        <hr>
        <div class="row" [formGroup]="ProductForm">

            <div class="col-lg-6 form-group mb-3">
                <label>Name<span style="color: red;"> * </span></label>
                <input type="text" formControlName="name" class="form-control" placeholder="Enter Name" [(ngModel)]="ProductData.name">
                <app-validation propertyName="name" [MessageArray]="ProductValidationMessages" [FormGroupName]="ProductForm"></app-validation>
            </div>

            <div class="col-lg-6 form-group mb-3">
                <label class="mb-2">Product Category<span style="color: #FC6161;"> * </span></label>
                <p-dropdown appendTo="body" formControlName="product_category_id" [filter]="true" [virtualScroll]="true" [itemSize]="5" [options]="ProductCategorydropdown" optionLabel="name" optionValue="id" placeholder="Select Product Category" [(ngModel)]="ProductData.product_category_id"></p-dropdown>
                <app-validation propertyName="product_category_id" [MessageArray]="ProductValidationMessages" [FormGroupName]="ProductForm"></app-validation>
            </div>

            <div class="col-lg-6 form-group">
                <label>Stock Quantity<span style="color: red;"> * </span></label>
                <input type="text" formControlName="stock_quantity" class="form-control" placeholder="Enter Stock Quantity" [(ngModel)]="ProductData.stock_quantity">
                <app-validation propertyName="stock_quantity" [MessageArray]="ProductValidationMessages" [FormGroupName]="ProductForm"></app-validation>
            </div>

            <div class="col-lg-6 form-group">
                <label>Minimum Quantity<span style="color: red;"> * </span></label>
                <input type="text" formControlName="min_qty" class="form-control" placeholder="Enter Minimum Quantity" [(ngModel)]="ProductData.min_qty">
                <app-validation propertyName="min_qty" [MessageArray]="ProductValidationMessages" [FormGroupName]="ProductForm"></app-validation>
            </div>

        </div>
    </div>
</div>